@import "../../data/styles.css";

.homepage-description-strong {
	position: relative;
}

.homepage-description-strong::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: currentColor;
	animation: underlineAnimation 3s forwards;
}

@keyframes underlineAnimation {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.homepage-title-class {
	animation: titleAnimation 2s ease-in-out forwards;
}

@keyframes titleAnimation {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	50% {
		transform: scale(1.1);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 130px;
}

.homepage-container {
	padding-top: 25px;
}

.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85% !important;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
}

.homepage-image-container {
	width: 370px;
	height: 370px;
}

.homepage-image-wrapper {
	overflow: hidden;
	border-radius: 10%;
	animation: attractiveAnimation 1s ease-in-out forwards;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	transform: rotate(5deg);
}

@keyframes attractiveAnimation {
	0% {
		transform: rotate(-10deg) scale(0.9);
		opacity: 0;
	}
	50% {
		transform: rotate(5deg) scale(1.1);
		opacity: 0.5;
	}
	100% {
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}

.homepage-description{
	animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.homepage-image-wrapper:hover {
	transform: rotate(0deg) scale(1.05);
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.35);
}

.homepage-image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;	
	transform: translateY(20px);
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
}

.homepage-socials a {
	opacity: 0;
	animation: fadeInSocials 0.5s ease-in-out forwards;
}

.homepage-socials a:nth-child(1) {
	animation-delay: 0.2s;
}

.homepage-socials a:nth-child(2) {
	animation-delay: 0.4s;
}

.homepage-socials a:nth-child(3) {
	animation-delay: 0.6s;
}

@keyframes fadeInSocials {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
}

.homepage-projects {
	flex-basis: 300px;
	padding-top: 40px;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 30px;
}

@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column; /* Changed: set direction to column */
		align-items: flex-start;
		width: 100%;
		order: 2;
	}

	.homepage-title {
		width: 100% !important;
		margin-top: 20px;
		order: 2;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 3;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;
	}

	.homepage-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}
}
