.fade-element {
    opacity: 0;
    animation: simpleFadeIn 0.7s ease forwards;
}

.project-detail-logo {
    width: 150px;
    height: 150px;
}

.project-detail-role {
    font-size: 14px;
    font-weight: normal;
    color: var(--secondary-color);
}

@keyframes simpleFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}